<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magefan\TestEmail\Api\TestEmailRepositoryInterface" type="Magefan\TestEmail\Model\TestEmailRepository"/>
	<preference for="Magefan\TestEmail\Api\Data\TestEmailInterface" type="Magefan\TestEmail\Model\TestEmail"/>
	<preference for="Magefan\TestEmail\Api\Data\TestEmailSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Magefan\TestEmail\Model\ResourceModel\TestEmail\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">magefan_testemail_testemail</argument>
			<argument name="resourceModel" xsi:type="string">Magefan\TestEmail\Model\ResourceModel\TestEmail\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="magefan_testemail_testemail_grid_data_source" xsi:type="string">Magefan\TestEmail\Model\ResourceModel\TestEmail\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
